body {
  padding:0;
  margin:0;
  z-index:0;
  background-color:white;
  overflow:hidden;
}

#grid1 {
  z-index:-1;
  position:fixed;
  filter:grayscale();

}

#grid2 {
  transform: rotateX(35)
  z-index:-1;
  position:fixed;
  mix-blend-mode: multiply;
}

#container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-auto-rows: minmax(25vh, auto);
 z-index:2;
}

.a {
  background-image:url('images/spoon.gif');
  background-size:contain;
  background-position:center center;
  background-repeat:no-repeat;
  z-index:5;
}

.d {
  background-image:url('images/cube.gif');
  background-position:Center center;
  background-size:25%;
  z-index:3;
  mix-blend-mode:difference;
}

.g {
  background-image:url('images/dog.gif');
  background-position:center center;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  z-index:4;
}

.h {
  background-image:url('images/car.gif');
  background-size:contain;
  background-position:Center center;
  background-repeat:no-repeat;
  z-index:5;

}

.i {
  background-image:url('images/star.gif');
  background-size:contain;
  background-position:center center;
  background-repeat:no-repeat;
  z-index:5;
}

.b {
  background-image:url('images/yikes.gif');
  background-position:center center;
  background-size:contain;
  background-repeat:no-repeat;
  z-index:4;
}

.f {
  background-image:url('images/chair.gif');
  background-position:center center;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center center;
  z-index:4;
}

.j {
  background-image:url('images/fork.gif');
  background-size:contain;
  background-position:center center;
  background-repeat:no-repeat;
  z-index:4;
}


.e {
  background-image:url('images/beachball.gif');
  background-size:contain;
  background-position:center center;
  background-repeat:no-repeat;
  z-index:5;
  mix-blend-mode:difference;
}

.c {
  background-image:url('images/spinner.gif');
  background-size:contain;
  background-position:center center;
  background-repeat:no-repeat;
  z-index:5;
}
